<div id="<%= dom_id item %>">
  <div>
    <strong>Name:</strong>
    <%= item.name %>
  </div>

  <div>
    <strong>Ranking:</strong>
    <%= item.ranking %>
  </div>
  <div>
    <strong>Category:</strong>
    <%= link_to item.category.name, category_path(item.category) %>
  </div>

</div>
